body {
  margin: 0;
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  background-color: #242424; 
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.auth-container {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
